/* Style customizations for the Doxygen documentation
 */

/* Text paragraphs, list elements and table elements.
 * Limits the width to avoid overlong lines.
 */
p, li, td{
    max-width : 58em;
    text-align : justify;
}

/* Code fragments.
 * Makes bounding boxes tighter.
 */
div.fragment {
    display :table;
}

/* Hide line numbers from code snippets */
span.lineno {
    display : none;    
}
